﻿@model LightpointShop.Presentation.Models.ShopProductFormModel

<dialog id="add-shop-product-dialog" class="mdl-dialog">
    @using (Ajax.BeginForm("ShopProducts", "Api", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "newShopProductSuccess", OnFailure = "ajaxFailed" }))
    {
        <h3 class="mdl-dialog__title">Add product to shop</h3>
        <div class="mdl-dialog__content">
            @Html.AntiForgeryToken()

            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                @Html.DropDownListFor(model => model.ShopId, new List<SelectListItem>(), new { @class = "mdl-select__input" })
                @Html.LabelFor(model => model.ShopId, htmlAttributes: new { @class = "mdl-select__label", type = "text" })
                @Html.ValidationMessageFor(model => model.ShopId, "", new { @class = "text-danger" })
            </div>

            <div class="mdl-select mdl-js-select mdl-select--floating-label">
                @Html.DropDownListFor(model => model.ProductId, new List<SelectListItem>(), new { @class = "mdl-select__input" })
                @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "mdl-select__label", type = "text" })
                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "mdl-textfield__label", type = "text", pattern = @"-?[0-9]*(\.[0-9]+)?" })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button">Cancel</button>
            <button type="submit" class="mdl-button">Add</button>
        </div>
    }

</dialog>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
