﻿@using LightpointShop.Presentation.Models
@model IEnumerable<LightpointShop.DAL.Infrastracture.Models.Product>

<style>
    .products-list {
        width: 100% !important;
    }
    .mdl-card-custom {
        margin: 10px;
        margin-bottom: 0;
        background-color: white;
    }
    .products-table {
        width: 100% !important;
        margin: 10px;
    }
</style>

@section pagebuttons
{
    <button class="mdl-button mdl-button--raised mdl-js-button dialog-button" for="add-shop-product-dialog" >Add shop product</button>
    <button class="mdl-button mdl-button--raised mdl-js-button dialog-button" for="create-product-dialog">Add product</button>
}

<ul class="products-list mdl-list">
    @if (Model.Any())
    {
        foreach (var product in Model)
        {
            <li id="product-@product.Id" class="mdl-list__item mdl-list__item--two-line mdl-card-custom mdl-shadow--2dp">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-avatar">local_offer</i>
                    <span>@product.Name</span>
                    <span class="mdl-list__item-sub-title">@product.Description</span>
                </span>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon remove-product dialog-button" for="add-shop-product-dialog" data-product-id="@product.Id">
                    <i class="material-icons">add_circle</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon remove-product dialog-button" for="delete-dialog" data-product-id="@product.Id">
                    <i class="material-icons">delete</i>
                </button>
            </li>


        }
    }
    else
    {
        <div>No products added</div>
    }
</ul>

@Html.Partial("_Add", new ProductFormModel())
@Html.Partial("_AddShop", new ShopProductFormModel())

<dialog id="delete-dialog" class="mdl-dialog">
    <h3 class="mdl-dialog__title">Delete?</h3>
    <div class="mdl-dialog__content">
        Do you want to delete this?
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button">Cancel</button>
        <button type="button" class="mdl-button" id="remove-product-confirmed">Yes!</button>
    </div>
</dialog>