﻿@model LightpointShop.Presentation.Models.ShopFormModel


<dialog id="update-shop-dialog" class="mdl-dialog">
    @using (Ajax.BeginForm("Shops", "Api", null, new AjaxOptions {HttpMethod = "Patch", OnSuccess = "updatedShopSuccess", OnFailure = "ajaxFailed" }))
    {
        <h3 class="mdl-dialog__title">Add new shop</h3>
        <div class="mdl-dialog__content">
            @Html.AntiForgeryToken()

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "mdl-textfield__input"}})
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "mdl-textfield__label", type = "text"})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.EditorFor(model => model.Location, new {htmlAttributes = new {@class = "mdl-textfield__input"}})
                @Html.LabelFor(model => model.Location, htmlAttributes: new {@class = "mdl-textfield__label", type = "text"})
                @Html.ValidationMessageFor(model => model.Location, "", new {@class = "text-danger"})
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.EditorFor(model => model.TimeOpen, new {htmlAttributes = new {@class = "mdl-textfield__input"}})
                @Html.LabelFor(model => model.TimeOpen, htmlAttributes: new {@class = "mdl-textfield__label", type = "text"})
                @Html.ValidationMessageFor(model => model.TimeOpen, "", new {@class = "text-danger"})
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                @Html.EditorFor(model => model.TimeClose, new {htmlAttributes = new {@class = "mdl-textfield__input"}})
                @Html.LabelFor(model => model.TimeClose, htmlAttributes: new {@class = "mdl-textfield__label", type = "text"})
                @Html.ValidationMessageFor(model => model.TimeClose, "", new {@class = "text-danger"})
            </div>

            @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default"/>
                </div>
            </div>*@
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button">Cancel</button>
            <button type="submit" class="mdl-button">Add</button>
        </div>
    }

</dialog>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
