﻿@using LightpointShop.Presentation.Models
@model IEnumerable<LightpointShop.DAL.Infrastracture.Models.Shop>

<style>
    .shops-list {
        width: 100% !important;
    }
    .mdl-card-custom {
        margin: 10px;
        margin-bottom: 0;
        background-color: white;
    }
    .products-table {
        width: 100% !important;
        margin: 10px;
    }
    .center {
        margin: auto;
        text-align: center;
    }
</style>

@section pagebuttons
{
    <button class="mdl-button mdl-button--raised mdl-js-button dialog-button" for="create-shop-dialog">Add shop</button>
}


<ul class="shops-list mdl-list">
    @if (Model.Any())
    {
        foreach (var shop in Model)
        {
            <li id="shop-@shop.Id" class="mdl-list__item mdl-list__item--three-line mdl-card-custom mdl-shadow--2dp">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons  mdl-list__item-avatar">store</i>
                    <span>@shop.Name</span>
                    <span class="mdl-list__item-text-body">
                        @shop.Location
                        <p>open from @shop.TimeOpen.ToString(@"hh\:mm") to @shop.TimeClose.ToString(@"hh\:mm")</p>
                    </span>
                </span>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon show-products-list dialog-button" for="show-products-dialog" data-shop-id="@shop.Id">
                    <i class="material-icons">remove_red_eye</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon remove-shop dialog-button" for="delete-dialog" data-shop-id="@shop.Id">
                    <i class="material-icons">delete</i>
                </button>
            </li>


        }
    }
    else
    {
        <div>No shops added</div>
    }
</ul>

@Html.Partial("_Add", new ShopFormModel())

<dialog id="delete-dialog" class="mdl-dialog">
    <h3 class="mdl-dialog__title">Delete?</h3>
    <div class="mdl-dialog__content">
        Do you want to delete this?
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button">Cancel</button>
        <button type="button" class="mdl-button" id="remove-shop-confirmed">Yes!</button>
    </div>
</dialog>

<dialog id="show-products-dialog" class="mdl-dialog">
    <h3 class="mdl-dialog__title">Products</h3>
    <div class="mdl-dialog__content" id="products-list">
        <div id="products-preloader" class="center"><div class="mdl-spinner mdl-js-spinner is-active"></div></div>
        <div id="show-products-data">
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button">Close</button>
    </div>
</dialog>